@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@100&display=swap');

body {
    background-image : url(/src/components/Background3.png);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position-x: center;
}

h1 {
    color: #8b0aac;
    font-size: 5vw;
    font-family: 'Gloock', serif;
    text-align: center;
}

h2 {
    color: yellow;
    font-size: 2vw;
    font-family: 'Gloock', serif;
    text-align: center;
}

#Questions {
    height: 500px;
    width: 500px;
    background-image : url(/src/components/Questions.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background-position-x: center;
}