/* CSS */
#QPage {
    background-image : url(/src/components/Background4.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-color: black;
    height: 100%;
    width: 100%;
}

#QMain {
    margin: 10vh 10%;
    width: 80%;
    height: 60vh;
    background-image: url(/src/components/Questions2.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#QParagraph {
    margin: 0 15%;
    font-size: 2.5vh;
    text-align: center;
}

#QAnswers {
    margin-top: 30px;
}

#QYes, #QNo {
    width: 15vw;
    height: 5vh;
    margin: 0 2vw;
    font-size: 2vh;
    font-family: 'Gloock', serif;
    background-color: yellow;
    border: 0;
    border-radius: 1vw;
}
/**/