@charset "utf-8";

/* Hier bitte nichts abändern, danke! LG Finn */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}

/* General CSS */

@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@100&display=swap');

body {
  background-repeat: no-repeat;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

#page, #root {
  width: 100%;
  height: 100%;
}

h1 {
  color: #8b0aac;
  font-size: 5vw;
  text-align: center;
  font-family: 'Gloock', serif;
}

h2 {
  color: yellow;
  font-size: 2vw;
  text-align: center;
  font-family: 'Gloock', serif;
}

p {
  color:white;
  font-size: 1.2vw;
  text-align: justify;
}

a {
  color: #ffffff;
  text-decoration: underline;
}
